/*
 * Fonts
 */

@font-face {
    font-family: Merriweather-LightItalic;
    src: url(fonts/Merriweather-LightItalic.ttf);
}

@font-face {
    font-family: benchnine;
    src: url(fonts/BenchNine-Light.ttf);
}

@font-face {
    font-family: Merriweather-Light;
    src: url(fonts/Merriweather-Light.ttf);
}

@font-face {
    font-family: lora-italic;
    src: url(fonts/Lora-Italic.ttf);
}

@font-face {
    font-family: Lora-Regular;
    src: url(fonts/Lora-Regular.ttf);
}

@font-face {
    font-family: Merriweather-Black;
    src: url(fonts/Merriweather-Black.ttf);
}

@font-face {
    font-family: badscript;
    src: url(fonts/BadScript-Regular.ttf);
}

@font-face {
	font-family: tc;
	src: url(fonts/NotoSansTC/NotoSansTC-Regular.otf) format("opentype");
    unicode-range: U+4E00-9FFF, U+3400-4DBF;
}

/*
 * Globals
 */

:root {
    --darker: rgb(62, 117, 130);
    --lighter: rgb(199, 229, 237);
    --lighter-transparent: rgba(199, 229, 237, 0.5);
    --transparent: rgba(255,255,255,128);
    --transparent-totally: rgba(255,255,255,0);
    --almost-transparent: rgba(199, 229, 237, 0.1);
}


/* Links */

a,
a:focus,
a:hover {
    color: #fff;
}

#about-content p {
    font-family: Merriweather-LightItalic;
    color: black;
    font-size: 16px;
    text-align-last: left;
    text-align: left;
}

@keyframes fade-in-about-content {
	from {
		color: var(--transparent-totally);
		text-shadow: 0 0 0 rgba(0, 0, 0, 0);
	}
	to {
		color: var(--darker);
		text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
	}
}

/* Custom default button */

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #333;
    margin: 0;
    overflow-x: hidden;
    color: #fff;
    text-align: center;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.col-content {
    background-color: var(--transparent-totally);
    overflow-y: scroll;
}

/* Padding for spacing */

.inner {
    padding: 2rem;
}

.vertical {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

.content-inner {
    left: 0;
    top: 0;
    bottom: 0;
    min-height: 100%;
    height: 100%;
    text-align-last: left;
    text-align: center;
}


/*
 * Header
 */

#header {
    margin-left: -15px;
    margin-right: -15px;
    background-color: var(--darker);
    -webkit-box-shadow: 0 5px 1.5rem .1rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 1.5rem .1rem rgba(0, 0, 0, 0.5);
    text-shadow: 0 .05rem .1rem var(--lighter);
    padding: 15px;
	padding-bottom: 0px;
}

#menu-bar {
	position: absolute;
	bottom: 70px;
	top: 0;
	right: 0;
	left: 0;
	padding: 15px;
}

#menu-bar p {
    font-family: lora-italic;
    color: var(--darker);
    text-align-last: left;
    text-align: left;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
	
	animation-name: fade-in-about-content;
	animation-duration: 0.69s;
	animation-timing-function: ease-in;
	animation-fill-mode: forward;
}

.nav-link {
    color: var(--lighter);
    background-color: transparent;
    border-bottom: 4px solid transparent;
    font-family: Merriweather-Black;
    text-align: center;
	padding: 0px;
	padding-bottom: 11px;
	float: center;
}

.nav-link:hover,
.nav-link:focus {
    color: white;
    border-bottom-color: var(--lighter);
    text-decoration: none;
	border-width: 4px;
}

.active {
    color: white;
    border-bottom-color: white;
    /*text-decoration: underline;*/
    text-decoration-color: black;
	border-width: 4px;
    text-shadow: 0 .05rem .1rem var(--lighter);
}
 
.menu-content {
    padding: 15px;
	/*margin: 2rem;*/
    display: flex;
    align-items: center;
}


/*
 * Footer
 */

.footer {
    position: absolute;
    color: white;
    bottom: 0;
    width: 100%;
    min-height: 70px;
    left: 0;
    height: 7vh;
    align-content: right;
    align-items: right;
    
    /*-webkit-box-shadow: 0 5px 1.5rem .1rem rgba(0, 0, 0, 0.5), 0 -5px 1.5rem .1rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 1.5rem .1rem rgba(0, 0, 0, 0.5), 0 -5px 1.5rem .1rem rgba(0, 0, 0, 0.5);


	background-image: url("img/yentinglo.png");
    background-repeat: no-repeat;
    background-size: contain;
	background-position: right 10px center;*/
}

h2 {
    font-family: Merriweather-LightItalic;
    font-size: 35px;
    text-align: left;
}

.list-info {
    font-family: lora-italic;
    text-align: left;
    margin-bottom: 15px; 
    font-size: 15px;
    color: var(--darker);
    text-shadow: 0 .05rem .1rem var(--darker);
}

@media(max-aspect-ratio: 1/1) {
    /* Phone */
    body {
        overflow-y: scroll;
    }
    .col-content {
        overflow-y: visible;
        height: 100%;
        
        -webkit-box-shadow: inset 0 5rem 5rem -5rem rgba(0, 0, 0, 0.5);
        box-shadow: inset 0 5px 1.5rem -.1rem rgba(0, 0, 0, 0.5);
		background-color: var(--almost-transparent);
    }
    #about-content {
        padding: 30px;
		padding-left: 25%;
		padding-left: 25vw;
    }
    .cover-container {
        min-height: auto;
    }
    .about-bg {
        background-position: -75vh 0vh;
    }
	.news-bg {
		background-position: 0vw top;
		background-size: cover;
	}
	.projects-bg {
		background-size: cover;
		background-position: -45.5vh 0vh;
	}
	.music-bg {
		background-position: 120vw center;
	}
    .events-what {
        font-size: 32px;
        margin-top: 8px;
    }
    .nav-link {
		font-size: 16px;
        font-size: 5vw;
    }
    #music-content {
        margin: 30px;
    }
    #projects-content iframe {
        width: 100%;
        height: 50vw;
    }
	#facebook-container {
		align-content: right;
        min-height: 100%;
        min-height: 100vh;
		/*min-width: 340px;*/
		padding-top: 3vh;
		padding-bottom: 3vh;
		padding-right: 3vh;
		padding-left: 3vh;
	}
	#events-special-container {
		margin-top: 5vh;
		margin-bottom: 10vh;
		/*position: relative;*/
		align-content: center;
		text-align: center;
		text-align-last: center;
		border-radius: 0px;
		border-style: solid;
		border-width: 1px;
		border-color: var(--lighter);
		box-shadow: rgb(255, 255, 255) 0px 0px 1px;
	}
	.footer {
		position: relative;
		margin-left: -15px;
		min-width: 100vw;
		background-color: var(--transparent-totally);
	}
	#projects-content img {
		position: relative;
	}
	#menu-bar {
		display: none;
	}
	#photo-by {
		left: 0px;
		writing-mode: vertical-rl;
		bottom: 4px;
	}
	.footer-logo {
		margin-left: 30px;
	}

	/*bootstrapping*/
	.col_phone-12 {
		width: 100%;
	}
	.col_phone-8 {
		width: 66.66%;
	}
	.col_phone-6 {
		width: 50%;
	}
	.col_phone-4 {
		width: 33.33%
	}
	.col_phone-3 {
		width: 25%;
	}
}

@media(min-aspect-ratio: 1/1) {
    /* Desktop */
    body {
        overflow-y: hidden;
    }
	.footer {
		position: absolute;
		margin-left: 0px;
		margin-right: 0px;
	}
    .col-content {
        overflow-y: scroll;
        height: 100vh;
		min-height: 100%;
        
        -webkit-box-shadow: inset 5rem 0 5rem -5rem rgba(0, 0, 0, 0.5);
        box-shadow: inset 5rem 0 5rem -5rem rgba(0, 0, 0, 0.5);
    }
    #about-content {
        padding-left: 22vw;
        padding-right: 7vw;
        padding-top: 15%;
		padding-top: 15vh;
    }
	#music-content {
		margin-top: 10vh;
		margin-left: 5vw;
	}
    .cover-container {
        min-height: 100vh;
    }
    .about-bg {
        background-position: center top;
    }
	.music-bg {
		background-position: right center;
	}
	.news-bg {
		background-position: left top;
		background-size: contain;
	}
	.projects-bg {
		background-size: cover;
		background-position: left-top;
	}
    .events-what {
        font-size: 36px;
        margin-top: 8px;
    }
    .nav-link {
        font-size: 24px;
        font-size: 2.3rem;
    }
    .menu-content {
        font-size: 15px;
        font-size: 2rem;
        margin-left: 1vh;
        margin-right: 1vh;
        margin-top: 0;
        margin-bottom: 0;
        min-height: 100%;
    }
    #projects-content iframe {
        width: 100%;
        height: 28vw;
    }
	#facebook-container {
		align-content: center;
        min-height: 100%;
        min-height: 100vh;
		/*min-width: 340px;*/
		padding-top: 3vh;
		padding-bottom: 3vh;
	}
	#events-special-container {
		margin-top: 20vh;
		margin-left: 5vw;
		margin-right: 5vw;
		margin-bottom: 10vh;
		/*position: relative;*/
		align-content: center;
		text-align: center;
		text-align-last: center;
		border-radius: 0px;
		border-style: solid;
		border-width: 1px;
		border-color: var(--lighter);
		box-shadow: rgb(255, 255, 255) 0px 0px 1px;
	}
	#projects-content img {
		position: absolute;
	}
	#photo-by {
		right: 24px;
		bottom: 1px;
	}
	.footer-logo {
		margin-left: 30px;
		/*margin-left: 7vw;*/
	}

	/*bootstrapping*/
	.col_desktop-12 {
		width: 100%;
	}
	.col_desktop-8 {
		width: 66.66%;
	}
	.col_desktop-6 {
		width: 50%;
	}
	.col_desktop-4 {
		width: 33.33%
	}
	.col_desktop-3 {
		width: 25%;
	}
}

/* content background images */
.about-bg {
    background-image: url("img/about.JPG");
    background-attachment: fixed;
    background-color: #f3f6fd;
    background-size: cover;
    background-attachment: fixed;
}

.music-bg {
    background-image: url("img/music.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-color: #f1f0ec;
}

.projects-bg {
    background-image: url("img/projects.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #605f4b;
}

.news-bg {
    background-image: url("img/news.jpg");
	background-repeat: no-repeat;
    background-color: #110e09;
    background-attachment: fixed;
    background-size: cover;
}

/*left menu background */
.about-menu-bg {
    background-color: var(--almost-transparent);
}

.music-menu-bg {
    background-color: var(--almost-transparent);
}

.projects-menu-bg {
    background-color: var(--transparent-totally);
}

.news-menu-bg {
    background-color: var(--transparent-totally);
}


/*   */

.placeholder-color::-webkit-input-placeholder {
    color: var(--darker);
}

.placeholder-color:-moz-placeholder {
    color: var(--darker);
}

.placeholder-color::-moz-placeholder {
    color: var(--darker);
}

.placeholder-color:-ms-input-placeholder {
    color: var(--darker);
}

#facebook-icon {
    background-image: url("img/fb.png");
    width: 40px;
    height: 40px;
    min-height: 40px;
    min-width: 40px;
	margin: 15px;
	margin-right: 5px;
}

#soundcloud {
    background-image: url("img/soundcloud.png");
}

#youtube {
    background-image: url("img/yt.png");
}


.social-icon {
    width: 50px;
    height: 50px;
    min-height: 50px;
    min-width: 50px;
	margin: 10px;
	margin-right: 5px;
	margin-left: 5px;
    background-repeat: no-repeat;
    background-size: contain;
	background-position: center;
	box-sizing: border-box;
	float: left;
}

.footer-logo {
	background-image: url("img/yentinglo.png");
    background-repeat: no-repeat;
    background-size: contain;
	background-position: right center;
	min-height: 60px;
	position: absolute;
	right: 20px;
	margin-top: 7px;
	margin-bottom: 3px;
	left: 180px;
	bottom: 0px;
	top: 0px;
}

#photo-by {
	font-family: lora-italic;
	color: white;
	font-size: 12px;
    text-align: bottom right;
	text-shadow: none;
	position: absolute;
}

.social-row {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 1rem;
    min-height: 50px;
}
#projects-content {
    display: block;
    margin: 0px;
	padding-top: 45px;
	padding-bottom: 45px;
	padding-left: 30px;
	padding-right: 30px;
	width: 100%;
	height: 100%;
	min-height: 100%;
    align-content: center;
    position: relative;
    text-align: center;
    text-align-last: center;
}
.project-content {
	width: 100%;
	height: 100%;
}

.project-title {
    
}
.project-desc {
    margin-bottom: 15px;
    font-family: lora-italic;
    font-size: 20px;
    color:lightcyan;
}

#projects-content iframe {
    margin-bottom: 30px;
    margin-top: 30px;
    display: inline-block;
}

#projects-content img {
	max-height: 100%;
	max-width: 100%;
	padding: 30px;

	animation-name: hover-out;
	animation-duration: 0.3s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

#projects-content img:hover {
	animation-name: hover-in;
	animation-duration: 0.3s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

.project-button {
	height: 50%;
	padding: 0px;
}

@keyframes hover-out {
	from {
		padding: 15px;
	}
	to {
		padding: 30px;
	}
}
@keyframes hover-in {
	from {
		padding: 30px;
	}
	to {
		padding: 15px;
	}
}

.tl-button {
	right: 0;
	bottom: 0;
}
.tr-button {
	left: 0;
	bottom: 0;
}
.bl-button {
	right: 0;
	top: 0;
}
.br-button {
	left: 0;
	top: 0;
}

.yt-playlist {
    display: inline-block;
    align-content: center;
    text-align: left;
    text-align-last: left;
    float: center;
    width: 100%;
}


.events-what {
    font-family: Merriweather-LightItalic;
    text-align-last: left;
    font-size: 24px;
}


.events-when {
    font-family: lora-italic;
    font-size: 15px;
    color: var(--lighter);
    text-align-last: left;
}

.events-time {
    font-family: lora-italic;
    font-size: 15px;
    color: var(--lighter);
    text-align-last: left;
}

.events-where {
    font-family: Lora-Regular;
    font-size: 20px;
    color: var(--lighter);
    text-align-last: left;
}

.line {
    min-height: 1px;
    width: 100%;
    background-color: var(--lighter);
}

.events-container{
	padding-top: 3vh;
    position: relative;
    align-content: center;
    text-align: center;
    text-align-last: center;
	margin-top: 60px;
}

.event {
    margin-bottom: 40px;
}
.event:empty {
    min-height: 100px;
}

/* fake bootstrap */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 10px;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.col_always-12, .col_phone-12, .col_desktop-12, .col_always-8, .col_phone-8, .col_desktop-8, .col_always-6, .col_phone-6, .col_desktop-6, .col_always-4, .col_phone-4, .col_desktop-4, .col_always-3, .col_phone-3, .col_desktop-3 {
	float: left;
	position: relative;
	/*min-height: 1px;*/
	padding-right: 15px;
	padding-left: 15px;
}

.col_always-12 {
	width: 100%;
}
.col_always-8 {
	width: 66.66%;
}
.col_always-6 {
	width: 50%;
}
.col_always-4 {
	width: 33.33%
}
.col_always-3 {
	width: 25%;
}
